@import "{{ site.theme }}";

.highlight {
    pre {
        background-color: #f6f8fa;
        padding: 1rem;
        border-radius: 5px;

        code {
            font-family: 'Fira Code', monospace;
        }
    }
}